openapi: 3.0.3

info:
  title: my simple app
  description: |
    Using this OpenAPI specification, any conusmer can understand the APIs that are exposed by EazyShop
  termsOfService: https://easzyshop.com/terms/
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: suport@eazyshop.com
  license:
    name: EazyShop License
    url: https://www.eazyshop.com/licenses/LICENSE-2.0.html
  version: 0.0.1

servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging server
  - url: https://api.eazyshop-server.com/v1
    description: Production server
  - url: https://{username}.server.com:{port}/{version}
    variables:
      username:
        default: demo
        description: This value is assigned by the service provider.
      port:
        enum:
          - '8443'
          - '443'
        default: '8443'
      version:
        default: v1

paths:
  /categories:
    get:
      summary: List all categories
      description: Returns the list of categories supported by EazyShop
      parameters:
        - name: category
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 101
      responses:
        '200':
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
